.tm-welcome-section{
    height: 30vh;
    /*background-image: linear-gradient(to bottom, #8C71B6, #A47BB5, #CBA8C6 , #D9ACC1, #E196B5, transparent);*/
    background-image: url(../img/rock-wallpaper-3.jpg);
    color: #fff;
    text-align: left;
}

.hero-banner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-banner img{
    width: 144px;
    height: 192px;
    
}

.hero-banner .hero-text{
    color: #fff;
    text-align: left;
    padding: 0px 0px 0px 35px;
}

.hero-banner .hero-text sub{
    padding: 5px 5px;
    background-color: #ccc;
    cursor: pointer;
    font-weight: 900;
    border-radius: 50px;
    color: #000000;
}

.lives{
    width: 100%;
    margin: 50px 0px;
}

.lives .conteiner{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}

.lives .conteiner .lives-unicas{
    width: 332px;
    height: 274px;

    
    padding: 5px 5px;
}

.lives .conteiner .lives-unicas img{
    width: 100%;
    height: 187px;
    background-color: #ccc;
}

.lives .conteiner .lives-unicas img:hover{
    box-shadow:-3px 4px 1px 1px #C275A8;
    transition: 0.2s ease-in;
    transform: translate(5px , -5px)
}

.lives .conteiner .lives-unicas .content{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lives .conteiner .lives-unicas .content img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
}

.lives .conteiner .lives-unicas .content .text{
    
    height: calc(100% - 187px);
    width: 100%;
    padding: 5px 10px;
    line-height: 0px;
}

.lives .conteiner .lives-unicas .content .text a{
    color:#666D8E;
}

.lives .conteiner .lives-unicas .content .text h3{
    font-size: 14px;
    font-weight: 900;
    color:#666D8E;
}
.lives .conteiner .lives-unicas .content .text p{
    font-size: 12px;
}
.lives .conteiner .lives-unicas .content .text sub{
    padding: 5px 5px;
    background-color: #ccc;
    color: #000;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 3px;
}
.lives .conteiner .lives-unicas .content .text sub:hover{
    box-shadow:-3px 4px 1px 1px #C275A8;
    transition: 0.2s ease-in;
    transform: translate(5px , -5px);
    cursor: pointer;
}





/* Page live */


.header{
    width: 100%;
    background-image: linear-gradient(to bottom, #8C71B6, #A47BB5, #CBA8C6 , #D9ACC1, #E196B5, transparent);
}

.header .conteiner {
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .conteiner img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;

    margin: 10px 0px;
}

.header .conteiner a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.header .conteiner input{
    border-radius: 5px;
    border:none;

    padding: 5px;
    text-align: center;
}

.live{
    width: 100%;
    height: 600px;
    margin: 15px 0px 0px 0px;
    padding: 0px 80px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.live .live-play{
    width: 65%;
    height: 100%;
}
.live .live-play video{
    width: 100%;
    height: 100%;
}

.live .conteiner-text{
    width: 30%;
    height: 100%;
}

.live .conteiner-text .redes{
    width: 100%;
    height: 20%;

    display: block;
   
}
.live .conteiner-text .redes h4{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}
.live .conteiner-text .redes .redes-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.live .conteiner-text .redes-icons a{
    color: #000;
    font-size: 20px;
}

.live .conteiner-text .redes .donate{
    width: 100%;
    text-align: center;
}
.live .conteiner-text .redes .donate a{
    color: #000;
    font-size: 28px;
}

.live .conteiner-text .chat{
    background-color: #ccc;
}
.live .conteiner-text .chat h3{
    text-align: center;
    color: #A47BB5;
}
.live .conteiner-text .chat p{
    padding: 0px 15px;
}

.live .conteiner-text .chat p strong{
    color: #C275A8;
}

.live .conteiner-text .chat .digite{
    width: 100%;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
.live .conteiner-text .chat .digite .fa{
    
    color: #A47BB5;
    font-size: 1.7rem;
}

.live .conteiner-text .chat .digite input{
    width: 100%;
    outline: none;
    text-align: left;
    border-color: #C275A8;
    background-color: #ccc;
}

.infos{
    width: 100%;
}

.infos .conteiner{
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items:  flex-start;
}

.infos .conteiner .title{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos .conteiner .title img{
    width: 130px;
    height: 130px;
}

.infos .conteiner .buttons{
    display: flex;
    padding: 10px 0px 0px 0px;  
    justify-content: center;
    align-items: center;
    width: 500px;

}

.infos .conteiner .buttons a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    background-color: #ccc;
    border-radius: 5px;
    margin-left: 8px;
    border: 1px solid #C275A8;
}

.infos .conteiner .buttons a:hover{
    background-color: #CBA8C6;
    color: #FFF;

}



.infos .redes{
   width: 90%;
   margin: auto;

}

.infos .redes .redes-icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.infos .redes .redes-icons a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
}

.infos .redes .redes-icons a .fa-facebook{
    background-color: #3B5999;
    padding: 10px 15px;
    border-radius: 50px;
    color: #FFF;
}
.infos .redes .redes-icons a .fa-instagram{
    background-color: #e4405f;
    padding: 10px 12px;
    border-radius: 50px;
    color: #FFF;
}
.infos .redes .redes-icons a .fa-twitter{
    background-color: #55acee;
    padding: 10px 11px;
    border-radius: 50px;
    color: #FFF;
}
.infos .redes .redes-icons a .fa-linkedin{
    background-color: #0077B5;
    padding: 10px 12px;
    border-radius: 50px;
    color: #FFF;
}
.infos .redes .redes-icons a .fa-youtube-play{
    background-color: #cd201f;
    padding: 10px 12px;
    border-radius: 50px;
    color: #FFF;
}











.footer{
    width: 90%;
    margin: 0px auto;
}
